@model StoreModel;

@{
    ViewData["Title"] = "Tienda";
}

<div class="text-center">
    <h1 class="display-2">Tienda</h1>  
</div>

<form asp-controller="Store" asp-action="StoreList">

    <div class="mb-3">
        <label asp-for="Id" class="form-label">Id Producto</label>
        <input type="text" class="form-control" asp-for="Id" placeholder="Escriba el Id del Producto" />
    </div>
    
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Nombre Producto</label>
        <input type="text" class="form-control" asp-for="Name" placeholder="Escriba el Nombre del Producto" />
    </div>

    <div class="mb-3">
        <label asp-for="Location" class="form-label">Matricula</label>
        <input type="text" class="form-control" asp-for="Location" placeholder="Escriba la Localizacion" />
    </div>

    <div class="mb-3">
        <label asp-for="QuantityEmployees" class="form-label">Carrera</label>
        <input type="text" class="form-control" asp-for="QuantityEmployees" placeholder="Escriba la Cantidad de Empleados" />
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secundary mb-3">Regresar</a>
</form>